#container {
    height: 980px;
    display: block;
    position: relative;    
    background-position: center;
    background-repeat: no-repeat;
}

.bg1 {
    background-image: url("/static/img/bg/bg1.jpg");
}

.bg2 {
    background-image: url("/static/img/bg/bg2.jpg");
}

.gameResult {
    margin: 0 0 0 0;
    width: 20%;
    background-color: floralwhite;
}

.dice {
    width: 60px;
    height: 60px;
}

.title{
    width: 20%;
}

.info{
    display: inline-block;
}