#container {
    height: 980px;
    display: block;
    position: relative;    
    background-position: center;
    background-repeat: no-repeat;
}

.bg1 {
    background-image: url("/static/img/bg/bg1.jpg");
}

.bg2 {
    background-image: url("/static/img/bg/bg2.jpg");
}

.bg3 {
    background-image: url("/static/img/bg/bg3.jpg");
}

.bg4 {
    background-image: url("/static/img/bg/bg4.jpg");
}

.bg5 {
    background-image: url("/static/img/bg/bg5.jpg");
}

.bg6 {
    background-image: url("/static/img/bg/bg6.jpg");
}

.gameResult {
    margin: 0 0 0 0;
}

.dice {
    width: 60px;
    height: 60px;
}

.title{
    width: 3%;
}

.info{
    display: inline-block;
}