#container {
    height: 910px;
    display: flow-root;
    /* position: relative;     */
    background-position: center;
    background-repeat: no-repeat;
}

.bg1 {
    background-image: url("/static/img/bg/bg1.jpg");
}

.bg2 {
    background-image: url("/static/img/bg/bg2.jpg");
}

.gameResult {
    width: 20%;
    background-color: floralwhite;
    position: relative;
    top: 3%;
    left: 2%;
    padding: 1%;
    border-radius: 10px;
    float: left;
    margin-right: 5%;
}

.result-img{
    display: block;
    position: relative;
    left: 25%;
}

.dice {
    width: 50;
    height: 50px;
    margin: 3% 0;
}

.title{    
    text-align: left;
    margin: 2% 0;
    width: 20%;
}

.game-title{
    text-align: center;
}


.info{
    display: inline-block;
}

.bet-area{
    width: 100%;
    display: inline-block;
}

.dice-area, .dt-area {
    float: left;
    border: 1px solid;
    text-align: center;    
    background-color:rgb(110, 196, 117);
}

.dice-area{
    width:24%;
}

.dt-area {
    width:32%;
}


.btn-toggle {
    background-color:rgb(39, 99, 43);
}